<div class="topnav">
    <a class="active" href="/">Alerts</a>
    <a href="/allsignals">All signals</a>
    <a href="/signals">Ichimoku</a>
    <a href="/signalsobserved">Ichimoku Observed</a>
    <a href="/mmdall">MMD</a>
    <a href="/mmdobserved">MMD observed</a>
    <a href="/arbitration">Arbitraż</a>
    <a href="/settings">Settings</a>
</div> 