<div class="topnav">
    <a class="active" href="/">Alerts</a>
    <a href="/signals">Signals</a>
    <a href="/signalsobserved">Observed</a>
    <a href="/arbitration">Arbitraż</a>
    <a href="/mmdall">MMD</a>
    <a href="/mmdobserved">MMD observed</a>
</div> 